._3Gq4Ajj33mhQ7Qtwt0C1VQ {
    margin: 0 auto;
    background: #334433;
    width: 960px;
    max-width: 100vw;
}._1QwaWnMq69DDUWJWI_aMET {
    padding: 20px;
    text-align: center;
}

._1RbclbmRazyL9PE3jdW-mJ {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    line-height: 1;
}

._1RbclbmRazyL9PE3jdW-mJ a {
    color: #bbbbbb;
    text-decoration: none;
}

@media (min-width: 1000px) {
    
    ._1RbclbmRazyL9PE3jdW-mJ {
        font-size: 50px;
    }
}

._1PEDH006ntnP87NehqtLD6 {
    color: #aaff55;
}
.h2B3i_zzgPklA8WS7HkD6 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.R9IMLvVdKqz7xuOV80Tzk {
    font-size: 13px;
    color: #BBBBBB;
}html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

._1WVT74mV9v9u0T3cjH6xxt {
    width: 100%;
    background: rgb(34, 51, 34);
    margin: 0 auto;
}
